<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="sites/new"><i class="fa fa-dashboard fa-fw"></i> 创建代理网站</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 网站列表</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 推广位列表</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> 网站设置</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

