<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/pages/sites/index"><i class="fa fa-sitemap fa-fw"></i> 网站管理</a>
            </li>
            <li>
                <a href="/pages/sites/settings"><i class="fa fa-gear fa-fw"></i> 网站设置</a>
            </li>
            <li>
                <a href="/pages/product"><i class="fa fa-gift fa-fw"></i> 产品管理</a>
            </li>
        </ul>
    </div>
</div>

