<div class="row">
    <div class="col-lg-12">
        <div id="tb_toolbar" class="btn-toolbar" role="group" aria-label="...">
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-search">修改分成比例</button>
            </div>
        </div>
        <table id="table"
           data-toolbar="#tb_toolbar"
           data-url="/ajax/sites/listview"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[10, 25, 50, 100]"
           data-search="true"
           data-show-export="true"
           data-show-columns="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           >
        </table>
    </div>
</div>


