<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <?php echo $user_name; ?> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#" ><i class="fa fa-gear fa-fw"></i> <span data-toggle="modal" data-target="#modal-settings">个人设置</span></a>
            </li>
            <li class="divider"></li>
            <li><a href="/ajax/user/logout"><i class="fa fa-sign-out fa-fw"></i> 注销登陆</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
